# Environment
.env.example
.env

# Deps
node_modules/

# Generated in dev/test
coverage/
isolate*.log
debug-perf.txt
dockerfile-security.rego
.scannerwork/

# Docs & External config
.circleci/
.github/
helm/
.licensed.yaml
catalog-info.yaml
CODE_OF_CONDUCT.md
README.md
